[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "cgwtools"]
	path = cgwtools
	url = https://github.com/cran/cgwtools
[submodule "fitConic"]
	path = fitConic
	url = https://github.com/cran/fitConic
[submodule "FunWithNumbers"]
	path = FunWithNumbers
	url = https://github.com/cran/FunWithNumbers
[submodule "go2bigq"]
	path = go2bigq
	url = https://github.com/cran/go2bigq
[submodule "ktsolve"]
	path = ktsolve
	url = https://github.com/cran/ktsolve
[submodule "Rfractran"]
	path = Rfractran
	url = https://github.com/cran/Rfractran
[submodule "vecsets"]
	path = vecsets
	url = https://github.com/cran/vecsets
